.new-trip {
    min-height: 100vh;
    display: none;

    &.active {
        display: block;
    }

    &.loading {
        display: flex;
        background-image: url('../media/load.gif');
    }
}

.trip {
    display: none;

    @media (min-width:768px){
        transform: translateY(-100px);
    }
    &.container {
        padding: 0;
    }

    &-new-destination{
        width: 100%;
        border: 1px solid rgba(2,29,44,0.2);
        background-color: white;
        margin: 1.2em 1.2em 1.2em 0;
    }

    &-image {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;     
    }

    &-name {
        text-align: center;
        margin-bottom: 0.5em;
    }

    &-dates {
        text-align: center;
        margin-bottom: 0.5em;
    }

    &-info {
        text-align: center;
        padding: 1em;
    }

}

.weather{

    &-title {
        font-size: 1.2em;
        font-weight: 700;
    }

    &-content {  
        text-align: center;
    }

    &-icon { 
        width: 100%;
       
    }

}

